<div class="stat-block statistics">
	<h3>{L_STATISTICS}</h3>
	<p>
		<!-- EVENT index_body_block_stats_prepend -->
		{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}
		<!-- EVENT index_body_block_stats_append -->
	</p>
</div>

<!-- IF S_DISPLAY_ONLINE_LIST -->
<div class="stat-block marttiphpbb-showtopicsubscribers">
	<h3>{{- lang('MARTTIPHPBB_SHOWTOPICSUBSCRIBERS_SUBSCRIBED', MARTTIPHPBB_SHOWTOPICSUBSCRIBERS_TOTAL) -}}</h3>
	<p>
		{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br />
		<!-- IF U_VIEWONLINE -->
			<br />{LOGGED_IN_USER_LIST}
			<!-- IF LEGEND --><br /><em>{L_LEGEND}{L_COLON} {LEGEND}</em><!-- ENDIF -->
		<!-- ENDIF -->
		<!-- EVENT index_body_block_online_append -->
	</p>
</div>
<!-- ENDIF -->
